
<h6 class="text-center">Reservation Register</h6><br/>
<div>
  <label>Reservation Date</label>
  <input type="text" class="form-control" name="book_date"
         [(ngModel)]="old_book_date" placeholder="Filter By Date" bsDatepicker>
  <br/>
  <button class="btn btn-primary" (click)="serachByDate()">Search</button>
  <button class="btn btn-primary" (click)="listAll()">List All</button>

<table class="table table-sm table-hover">
  <br/>
  <tr *ngFor="let reservation of reservationList | filter: new_book_date">
    <td>{{reservation.first_name}}</td>
    <td>{{reservation.email}}</td>
    <td>{{reservation.no_of_people}}</td>
    <td>{{reservation.book_date}}</td>
    <td>
      <a class="btn" (click)="onEdit(reservation)">
        Edit
      </a>
      <a class="btn" (click)="onDelete(reservation.$key)">
        Delete
      </a>
    </td>
  </tr>
</table>

</div>
